/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2015, 2:40:10 AM
    Author     : root
*/

.orgIconFloat{
    border:1px solid @ini_text_alt;
    margin:2px;
    width: 80px;
    img{
        width: 100%;
    }
}

span.org{

    &:before{
        // content: url(images/person.svg);
    }
    padding-left: 1em;
    background-image: url(images/person.svg);
    background-size: 1em;
    background-repeat: no-repeat;
}

button.fast_link{
    &:hover,&:active{
        background-color: @ini_text_alt;
        background-image: linear-gradient(to bottom, lighten(@ini_text_alt,30%),lighten(@ini_text_alt,10%)); 
        
    }
    border: none;
    font-weight: bold;
    width: 100%;
    background-color: @ini_text_alt;
    background-image: linear-gradient(to bottom, @ini_text_alt,darken(@ini_text_alt,20%));
    color:white;
    padding: 1em;


}