/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2015, 2:40:10 AM
    Author     : root
*/

.orgIconFloat{
    border:1px solid @ini_text_alt;
    margin:2px;
    width: 80px;
}

span.org{

    &:before{
        // content: url(images/person.svg);
    }
    padding-left: 1em;
    background-image: url(images/person.svg);
    background-size: 1em;
    background-repeat: no-repeat;
}